.text {
  margin: 5%;
  text-transform: uppercase;
  h1 {
    margin: 3% 0;
    font-weight: bold;
  font-size: 3.3rem;
  color: rgb(255, 255, 255);
  text-align: left;
  }

  h2 {
    font-weight: bold;
  font-size: 2.3rem;
  color: rgba(29, 29, 29, 255);
  text-align: left;
  }
  h6 {
  padding: 5% 0;
  color: rgba(129, 129, 129, 255);
  text-align: left;
  }
  .ava {
    position: absolute;
    bottom: 5%;
    left: 5%;
  }
}

.boxS {
  width: 31.7%;
  position: relative;
  height: 54rem;
  display: flex;
  flex-flow: column;
  background-color: white;
}
